
/*
=============================
		F O N T S
============================= 
*/
li a {
    text-decoration: none;
}

/*
=============================
		L A Y O U T 
============================= 
*/

ul {
    padding: 0;
    margin: 0;
}

header {
    width: 86% !important;
    position: fixed !important;
    /*height: 50px;*/
}

    header h1 {
        margin: 0;
        padding: 10px 20px;
        float: left;
    }

.container {
    width: 100%;
}

.sidebar {
    width: 11%;
    box-sizing: border-box;
    position: fixed;
    padding: 15px;
    top: 70px;
    cursor: pointer;
}

    .sidebar li {
        display: block;
        padding: 5px 5px 5px 5px;
    }

        .sidebar li a {
            display: block;
            color: #0e0e0e;
        }

        .sidebar li:hover {
            background-color: rgba(133, 128, 128, 0.52);
        }

button {
    width: 100%;
    padding: 10px;
    background-color: #337AB7;
    border: 1px solid #204D74;
    border-radius: 5px;
}

.inbox {
    width: 30%;
    float: left;
    margin-left: 15%;
    margin-top: 50px;
    box-sizing: border-box;
    position:  page;
    background-color: #F5F5F5;
    /*margin-top: 50px;*/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

    .inbox li {
        padding: 20px 5px;
        margin: 0;
        border-bottom: 2px solid rgba(133, 128, 128, 0.52);
        list-style: none;
    }

    .inbox span {
        padding: 0 10px;
        margin-left: 20px;
    }

.sender, .subject, .date {
    display: block;
}


.message {
    cursor: pointer;
    border-left-color: transparent;
}

    .message,
    .message:hover {
        border-left-width: 4px;
        border-left-style: dotted;
    }

        .message:hover {
            border-left-color: rgba(0,0,0,.1);
        }

.check {
    float: left;
}

.inbox-body {
    width: 50%;
    right: 0;
    margin-top: 50px;
    padding: 30px 70px;
    box-sizing: border-box;
    position: fixed;
}

    .inbox-body h4 {
        color: #bbb;
        font-weight: normal;
    }

    .inbox-body h1 {
        font-weight: normal;
    }

/*
=============================
		C O L O R S
============================= 
*/

    header h1 {
        color: white;
        text-shadow: 0px 0px 3px #333;
    }

button a {
    color: white;
}

.active {
    background-color: rgba(10, 27, 21, 0.64);
}

.selected {
    background-color: rgba(133, 128, 128, 0.52);
}




/*
=============================
		M I S C
============================= 
*/

.no-bullet {
    list-style: none;
}


footer.footer {
    position: fixed !important;
    width: 86%;
    bottom: 0;
    background: #222;
    padding: 10px 0;
}

/*body {
    position: fixed !important;
}*/