
@{
    ViewBag.Title = "Payroll System";
    ViewBag.PageTitle = "Payroll System Module";
    Layout = "~/Views/Shared/_LayoutPayroll.cshtml";
}
<div class="well">
    <h3>How To</h3>
    Click on the setup side link<br />
    The Sub-menu will be expanded for you to click on any of the link.
</div>
