@{
    ViewBag.Title = "Human Resource";
    ViewBag.PageTitle = "Human Resource Management";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}
@*@@model List<Payroll_Application.ViewModel.EmployeeListRecord>
    @{
        int sn = 0;
    }*@

<div class="well">
    <h3></h3>
    Click on the Employee side link<br />
    The Sub-menu will be expanded for you to click on any of the link.
</div>

