@{
    ViewBag.Title = "Human Resource";
    ViewBag.PageTitle = "Leave Management";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}

<div class="col-md-12" style="margin-left: 10px">
    <div class="row">
        <div class="card">
            <div class="card-header"> LOAN REQUESTS</div>
            <div class="card-body">
                <table class="table table-bordered table-hover table-custom-border" id="manLoantable">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>NAME</th>
                            <th>AMOUNT</th>
                            <th>COMMENT</th>
                            <th>MANAGE</th>
                        </tr>
                    </thead>
                    <tbody id="manLoanBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />

<script src="~/Content/OperationJS/HumanResourceJS.js"></script>
<script>
    LoadLoanT();
    $(function (e) {
        e.perventDefault();
        LoadLoanT();
    })
</script>
