
@{
    ViewBag.Title = "Company Settings";
    ViewBag.PageTitle = "Company Settings";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}

<div class="well">
    <h3>How To</h3>
    Click on the setup side link<br />
    The Sub-menu will be expanded for you to click on any of the link.
</div>

